[submodule "CommonInclude/kcommon"]
	path = CommonInclude/kcommon
	url = https://github.com/jiangkeredgirl/kcommon.git
[submodule "OpenGL/OpenGLLib/glm/glm"]
	path = OpenGL/OpenGLLib/glm/glm
	url = https://github.com/g-truc/glm.git
[submodule "OpenGL/OpenGLLib/soil/soil"]
	path = OpenGL/OpenGLLib/soil/soil
	url = https://github.com/littlstar/soil.git
[submodule "ROS2/ros2"]
	path = ROS2/ros2
	url = https://github.com/ros2/ros2.git
[submodule "NNG/nng"]
	path = NNG/nng
	url = https://github.com/nanomsg/nng.git
[submodule "ASIO/asio"]
	path = ASIO/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "stdexec/stdexec"]
	path = stdexec/stdexec
	url = https://github.com/NVIDIA/stdexec.git
[submodule "libunifex/libunifex"]
	path = libunifex/libunifex
	url = https://github.com/facebookexperimental/libunifex.git
